<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="aspnet:AllowConcurrentRequestsPerSession" value="true" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="aspnet:RequestQueueLimitPerSession" value="214748364711111111" />
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add connectionString="Data Source=DESKTOP-FGJRLIS\SQLEXPRESS;Database=raksym_database;Integrated Security=true;Max Pool Size=500000;Pooling=True;MultipleActiveResultSets=True" name="MyDatabaseConnectionString1" providerName="System.Data.SqlClient" />
    <add connectionString="Data Source=DESKTOP-FGJRLIS\SQLEXPRESS;Database=raksym_database_main;Integrated Security=true;" name="MyDatabaseConnectionString2" providerName="System.Data.SqlClient" />
<add name="raksym_databaseEntities2" connectionString="metadata=res://*/Models.LetterModel.csdl|res://*/Models.LetterModel.ssdl|res://*/Models.LetterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FGJRLIS\SQLEXPRESS;initial catalog=raksym_database;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
<add name="raksym_databaseEntities" connectionString="metadata=res://*/Models.LetterModel.csdl|res://*/Models.LetterModel.ssdl|res://*/Models.LetterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FGJRLIS\SQLEXPRESS;initial catalog=raksym_database;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
  <system.webServer>
  <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000" />
        <filteringRules>
        </filteringRules>
        <fileExtensions>
          <remove fileExtension=".mdf" />
          <add fileExtension=".bak" allowed="true" />
        </fileExtensions>
        <alwaysAllowedQueryStrings></alwaysAllowedQueryStrings>
        <alwaysAllowedUrls>
          <add url="/Finance/Accounta/vendor.aspx" />
          <add url="/Finance/Accounta/vendorDetails.aspx" />
          <add url="/Finance/Accounta/CustomerVendorPreferences.aspx" />
        </alwaysAllowedUrls>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <remove name="Session" />
      <add name="Session" type="Microsoft.AspNet.SessionState.SessionStateModuleAsync, Microsoft.AspNet.SessionState.SessionStateModule, Version=1.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode" />
    </modules>
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="Login/Login1.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" showFlags="Date, Time, Size, Extension, LongDate" />
  </system.webServer>
  <system.web>
	  <customErrors mode="Off" />
    <pages enableEventValidation="false"></pages>
    <sessionState mode="InProc" cookieless="false" timeout="7200"></sessionState>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="100000000" />

    <identity impersonate="false" />
    <authentication mode="Windows" />
    <machineKey decryptionKey="C9DEA9D5F8374F140AF88A84CF931D886E23C50787FF50E7" validationKey="4C78F8DFF1508962051D1B86CFCDB99B3CF9D25FA6A6096EF86A18EB6E64F16FEBA22B96E96F39F57CB9CBE834CA334237974CC018D5CA4CA4F77562414FFDDA" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.2.0" newVersion="2.4.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>